html {
    background-image: url('/tbls.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    font-size: 2em;

    & h1 {
        color: black;
    }
}

button,
input {
    font-size: larger;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

code:not(:empty) {
    display: block;
    margin: 1rem;
    padding: 1rem;
    background-color: black;
}
